.topbar-wrapper img[alt="Swagger UI"], .topbar-wrapper span {
    visibility: collapse;
}

.topbar-wrapper .link:before {
    content: url('/img/logo.png');
    margin-top: -4px;
    margin-bottom: -18px;
}